

#greet{
    font-size: x-large;
    text-align: center;
    color: chartreuse;
    font-family: 'Rajdhani', sans-serif;
}

#me{
    font-size: x-large;
    font-family: 'Righteous', cursive;
}

#details{
    font-family: 'Rajdhani';
    font-weight: 1000;
}